
# -- indexing defaults
DirectoryIndex index.htm
IndexIgnore *

# RewriteEngine On
# RewriteCond %{HTTP_HOST} !^matthewgream\.net.*$ [NC]
# RewriteCond %{HTTP_HOST} !^localhost.*$ [NC]
# RewriteCond %{REMOTE_ADDR} !^192\.168\..*$
# RewriteCond %{HTTP_HOST} !^$
# RewriteRule (.*) http://matthewgream.net/$1 [R=301,L]

# -- specify our own error documents
ErrorDocument 400 /system/BadRequest.htm
ErrorDocument 401 /system/AuthorisationRequired.htm
ErrorDocument 403 /system/Restricted.htm
ErrorDocument 404 /system/Unavailable.htm
ErrorDocument 410 /system/Removed.htm
ErrorDocument 500 /system/InternalError.htm

# RewriteRule ^.*w3c/$ - [G]
# RewriteRule ^.*Personal/Gallery.*$ - [G]
# RewriteRule ^.*intros.d64$ - [G]
# RewriteRule ^.*IntellectualProperty/out0001.css$ - [G]
# RewriteRule ^.*historyofart.*$ - [G]
# RewriteRule ^.*content/openbsd.*$ - [G]
# RewriteRule ^.*professional.*$ - [G]
# RewriteRule ^.*Professional/.*\.\.\.\.$ - [G]
# RewriteRule ^.*intellectualproperty.*$ - [G]
# RewriteRule ^.*cgi-bin/.*$ - [G]

# -- old content
Redirect 301 /Professional/Communications/thesis_present.pdf http://my-matthewgream-net.herokuapp.com/Professional/Communications/uts_thesis_present.pdf
Redirect 301 /Professional/Communications/thesis_report1.pdf http://my-matthewgream-net.herokuapp.com/Professional/Communications/uts_thesis_report1.pdf
Redirect 301 /Professional/Communications/thesis_report2.pdf http://my-matthewgream-net.herokuapp.com/Professional/Communications/uts_thesis_report2.pdf
Redirect 301 /Professional/Communications/project_srcrev.pdf http://my-matthewgream-net.herokuapp.com/Professional/Communications/uts_project_srcrev.pdf
Redirect 301 /Professional/Communications/project_commapi.pdf http://my-matthewgream-net.herokuapp.com/Professional/Communications/uts_project_commapi.pdf

# -- content aliases
Redirect 301 /content/note_decompile-comp-prog.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/note_decompile-comp-prog.pdf
Redirect 301 /content/note_decompile-comp-prog-2003.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/note_decompile-comp-prog.pdf
Redirect 301 /content/note_decompile-comp-prog.doc http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/note_decompile-comp-prog.doc
Redirect 301 /content/note_decompile-comp-prog-2003.doc http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/note_decompile-comp-prog.doc
Redirect 301 /content/overview_ec-reg-1-2003_attach.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/overview_ec-reg-1-2003_attach.pdf
Redirect 301 /content/overview_ec-reg-1-2003_paper.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/overview_ec-reg-1-2003_paper.pdf
Redirect 301 /content/overview_ec-reg-1-2003_paper.doc http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/overview_ec-reg-1-2003_paper.doc
Redirect 301 /content/overview_ec-reg-1-2003_slides.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/overview_ec-reg-1-2003_slides.pdf
Redirect 301 /content/overview_ec-reg-1-2003_slides.ppt http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/overview_ec-reg-1-2003_slides.ppt
Redirect 301 /content/review_bcs-ipr-sw-2000.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/review_bcs-ipr-sw-2000.pdf
Redirect 301 /content/review_bcs-ipr-sw-2000.doc http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/review_bcs-ipr-sw-2000.doc
Redirect 301 /content/review_trademark-valuation-01-2004.pdf http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/review_trademark-valuation-01-2004.pdf
Redirect 301 /content/review_trademark-valuation-01-2004.doc http://my-matthewgream-net.herokuapp.com/Professional/IntellectualProperty/review_trademark-valuation-01-2004.doc

# -- set content types for various media
AddType application/x-cbm-disk-image .d64
AddType application/x-cbm-tape-image .t64
AddType application/x-cbm-programme-image .prg

